li {
    border-radius: 1rem;
    overflow: hidden;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}


img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

